/*- Custom style -*/

// -- Put custom style under this point -- //

#posts {
	  background: #444;
	  border-radius: 10px;
	  padding: 20px;
	  margin: 0 10px;
	  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

#container {
	max-width: 100%;
	padding: 0 1.5rem;
}

article {
	  background: #444;
	  border-radius: 10px;
	  padding: 20px;
	  margin: 0 10px;
	  box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

article#post-page h2:first-child {
	  color: $main-color;
}

div.highlight code {
	  background: #232123;
	  border-radius: 10px;
	  box-shadow: 0 3px 10px rgba(0,0,0,.1);
	  display: block;
	  overflow-x: auto;
	  width: 100%;
}

code span {
	display: inline-table;
}

code {  
      background-color: #444;
}